<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ if .Site.Params.customCSS }}
    {{ $style := resources.Match "css/**.css" | resources.Concat "shangrira_font.css" | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
    {{ end }}
</head>
<body class="shangrira" style="font-size:{{ .Get 0}}px">
  {{ .Inner }}
</body>
</html>
